In [ ]:
from tvDatafeed import TvDatafeed, Interval
from datetime import datetime, timedelta
import pandas as pd

username = 'jdonadelli'
password = open('pass', 'r').read()

tv = TvDatafeed(username, password)

In [ ]:
# tv.search_symbol('PETR4','BMFBOVESPA')
# df = tv.get_hist(symbol='PETR4',exchange='BMFBOVESPA',interval=Interval.in_5_minute, n_bars= 5000)
# df.head(3)

In [9]:
url  = {'ibra50':'https://raw.githubusercontent.com/BDonadelli/Codigos-em-financas/main/data/IBXLDia_15-12-23.csv',
        'ibra100':'https://raw.githubusercontent.com/BDonadelli/Codigos-em-financas/main/data/IBXXDia_15-12-23.csv',
        'idiv':'https://raw.githubusercontent.com/BDonadelli/Codigos-em-financas/main/data/IDIVDia_15-12-23.csv',
        'ibov':'https://raw.githubusercontent.com/BDonadelli/Codigos-em-financas/main/data/IBOVDia_15-12-23.csv',
        'small':'https://raw.githubusercontent.com/BDonadelli/Codigos-em-financas/main/data/SMLLDia_15-12-23.csv'
}

indice = pd.read_csv(url['small'] ,
                     sep=';' , decimal=',' , thousands='.' , header=1 , skiprows=0 , skipfooter=2 , encoding='latin-1',
                     index_col=False , engine='python')

indice.head()

  Código          Ação        Tipo  Qtde. Teórica  Part. (%)
0  RRRP3  3R PETROLEUM  ON      NM      235661666      2.122
1  TTEN3       3TENTOS  ON      NM      113777586      0.402
2  ABCB4    ABC BRASIL  PN      N2       66485201      0.516
3  AERI3         AERIS  ON      NM      690257429      0.214
4  AESB3    AES BRASIL  ON      NM      317103937      1.253

In [10]:
for idx,row in indice.iterrows():
    i=row['Código']
    if idx == 0:       
        df =  tv.get_hist(symbol= i,exchange='BMFBOVESPA', n_bars= 800)
        df.rename(columns={ 'open':i+'_open' , 'high' : i+'_high' , 
                       'low' : i+'_low' , 'close' : i+'_close',
                       'volume' : i+'_volume'},inplace=True)
        del df['symbol']
    else:
        df1 =  tv.get_hist(symbol= i,exchange='BMFBOVESPA', n_bars= 800)
        df1.rename(columns={ 'open':i+'_open' , 'high' : i+'_high' , 
                       'low' : i+'_low' , 'close' : i+'_close',
                       'volume' : i+'_volume'},inplace=True)
        del df1['symbol']

        df = pd.merge(df,df1,how='inner',left_index=True,right_index=True)

df.to_csv("data/moment.csv" , sep=';' , decimal='.')